# Project build directory
target/

# Intellij IDEA project files
.idea/
*.iml
*.ipr
*.iws

# Eclipse project files
.settings/
.project
.classpath

# Maven release plugin files
pom.xml.*
release.properties

# Hotspot files
.hotspot_compiler
.attach_pid*
hs_err_pid*.log
hotspot_pid*.log
core.*

# Local stuff
local/
